textarea {
  resize: none;
}

.past-hour {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

.present-hour {
  background-color: crimson;
  border-color: crimson;
}

.future-hour {
  background-color: rgb(90, 177, 90);
  border-color: rgb(41, 136, 41);
}

button {
  background-color: darkturquoise;
  border-radius: 0px 5px 5px 0px;
}

header {
  border-bottom-width: 10px;
  color: red;
}

button {
  font-size: 2em;
}
.saveBtn {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 1.3em;
  padding-bottom: 15px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
