.saveBtn {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 1.3em;
  padding-bottom: 15px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

textarea {
  resize: none;
}

.past-hour {
  background-color: lightgray;
  border-color: gray;
}

.present-hour {
  background-color: maroon;
  border-color: maroon;
}

.future-hour {
  background-color: green;
  border-color: green;
}

button {
  background-color: lightblue;
  border-radius: 0px 10px 10px 0px;
}

header {
  border-bottom-width: 10px;
  color: red;
}

button {
  font-size: 3em;
}
